<style>
  li {
    color: black;
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }
</style>

<h1>Hello {{message}}</h1>
<input type="text" id="todoText">
<input type="button" value="Add" id="submitBtn">
<ul>
  {{#each todos}}
  <li>{{text}}</li>
  <button data={{id}} id="deleteBtn">Delete</button>
  <button data={{id}} id="updateBtn">Update</button>
  {{/each}}
</ul>

<script>
  $(document).ready(() => {
    // Submit todo
    $('#submitBtn').on('click', () => {
      const text = $('#todoText').val()
      const todoItem = {
        todo: text
      }
      const queryURL = 'http://localhost:8080'

      $.ajax({
        url: queryURL,
        type: 'POST',
        data: todoItem
      })

      window.location.replace("/");
    })

    // Delete todo
    $(document).on('click', '#deleteBtn', function () {
      const deleteTodo = {
        id: $(this).attr('data')
      }

      const queryURL = 'http://localhost:8080'

      $.ajax({
        url: queryURL,
        type: 'DELETE',
        data: deleteTodo
      })

      window.location.replace("/");
    })

    // update todo new

    $(document).on('click', '#updateBtn', function () {
      const updateID = {
        id: $(this).attr('data')
      }

      const queryURL = 'http://localhost:8080/edit'

      $.ajax({
        url: queryURL,
        type: 'POST',
        data: updateID
      })

      window.location.replace('/edit')
    })
  })
</script>